body{
    background-color: black;
    font-family: sans-serif;
    color: wheat;
}
.card{
background-color: coral;
text-align: center;
width: 300px;
}
h1{
    padding-top: 14px;
    font-size: 22px;
}
h2{
    font-size: 18px;
}
p{
    font-size: 9px;
}